body {
  font-family: 'Roboto', sans-serif;
  color: #333
}

/* As a general rule, you'll find the following in just about any responsive site's
 CSS: */
img {
  max-width: 100%; /*ensure images never go beyond the width of their parent
  container. If the parent container shrinks below the width of the image,
  the image will scale down along with it. */
  height:auto; /*Ensures the images' aspect ratio is preserved as this occurs.*/
}

* {
  box-sizing:border-box;
}

a {
  color: $mainOrange;
}
